In [1]:
# Notebook 출력설정
# 주요 라이브러리 임포트

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

%matplotlib inline
import matplotlib.pylab as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['lines.linewidth'] = 1
plt.rcParams['axes.grid'] = True
import seaborn as sns

In [9]:
DIR_DATASET = "C:/Users/0stxx/Datasets/"
NAME_PROJECT = '2205-kaggle-tps2205'

In [10]:
df_train = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/train.csv')
df_test = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/test.csv')
df_sub = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/sample_submission.csv')

In [11]:
df_train.head()

   id      f_00      f_01      f_02      f_03      f_04      f_05      f_06  f_07  f_08  f_09  f_10  f_11  f_12  f_13  f_14  f_15  f_16  f_17  f_18      f_19      f_20      f_21      f_22      f_23      f_24      f_25      f_26        f_27        f_28  f_29  f_30  target
0  0  -1.373246  0.238887 -0.243376  0.567405 -0.647715  0.839326  0.113133  1     5     1     3     3     3     1     6     1     0     7     4     0.298218 -0.919717  3.058541 -2.540739  0.766952 -2.730628 -0.208177  1.363402  ABABDADBAB  67.609153   0     0     0
1  1   1.697021 -1.710322 -2.230332 -0.545661  1.113173 -1.552175  0.447825  1     3     4     0     2     3     0     1     0     4     6     0    -3.147667 -1.075434  2.179050  2.278315 -0.633658 -1.217077 -3.782194 -0.058316  ACACCADCEB  377.096415  0     0     1
2  2   1.681726  0.616746 -1.027689  0.810492 -0.609086  0.113965 -0.708660  1     0     2     6     6     4     3     1     2     2     1     4     2.820733 -3.485342 -0.784235 -1.385775 -0.520558 -0.009121  2.788536 -3.703488  AAAEABCKAD -195.599702  0     2     1
3  3  -0.118172 -0.587835 -0.804638  2.086822  0.371005 -0.128831 -0.282575  3     2     1     0     1     6     4     2     3     3     0     3     1.081084 -2.100177 -2.343819  0.572594 -1.653213  1.686035 -2.533098 -0.608601  BDBBAACBCB  210.826205  0     0     1
4  4   1.148481 -0.176567 -0.664871 -1.101343  0.467875  0.500117  0.407515  3     3     0     4     3     0     6     0     3     3     1     0    -0.126179  0.605033  1.133665 -3.912929 -1.430366  2.127649 -3.306784  4.371371  BDBCBBCHFE -217.211798  0     1     1

In [ ]:
len_train = len(df_train)
df_all = pd.concat([df_train, df_test], axis=0)
target_ = "state"