In [2]:
# Notebook 출력설정
# 주요 라이브러리 임포트

import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

%matplotlib inline
import matplotlib.pylab as plt
plt.rcParams["figure.figsize"] = (15,5)
plt.rcParams['lines.linewidth'] = 1
plt.rcParams['axes.grid'] = True
import seaborn as sns

In [3]:
DIR_DATASET = "C:/Users/0stix/Datasets/"
NAME_PROJECT = "2204-kaggle-nbme"

In [6]:
import os
os.listdir(DIR_DATASET + NAME_PROJECT)

['features.csv',
 'patient_notes.csv',
 'sample_submission.csv',
 'test.csv',
 'train.csv']

In [13]:
df_features = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/features.csv')
df_pn = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/patient_notes.csv')
df_train = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/train.csv')
df_test = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/test.csv')
df_sub = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/sample_submission.csv')

- Case: 시험자료

In [46]:
df_features.head(13)
# df_features.info()
# df_features['case_num'].value_counts()

    feature_num  case_num                                                      feature_text
0   0            0         Family-history-of-MI-OR-Family-history-of-myocardial-infarction
1   1            0         Family-history-of-thyroid-disorder
2   2            0         Chest-pressure
3   3            0         Intermittent-symptoms
4   4            0         Lightheaded
5   5            0         No-hair-changes-OR-no-nail-changes-OR-no-temperature-intolerance
6   6            0         Adderall-use
7   7            0         Shortness-of-breath
8   8            0         Caffeine-use
9   9            0         heart-pounding-OR-heart-racing
10  10           0         Few-months-duration
11  11           0         17-year
12  12           0         Male

In [52]:
df_pn[(df_pn['pn_num'] == 16)]

    pn_num  case_num                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              pn_history
16  16      0         HPI: 17yo M presents with palpitations. Patient reports 3-4 months of intermittent episodes of "heart beating/pounding out of my chest." 2 days ago during a soccer game had an episode, but this time had chest pressure and felt as if he were going to pass out (did not lose conciousness). Of note patient endorses abusing adderall, primarily to study (1-3 times per week). Before recent soccer game, took adderrall night before and morning of game. Denies shortness of breath, diaphoresis, fevers, chills, headache, fatigue, changes in sleep, changes in vision/hearing, abdominal paun, changes in bowel or urinary habits. \r\nPMHx: none\r\nRx: uses friends adderrall\r\nFHx: mom with "thyroid disease," dad with recent heart attcak\r\nAll: none\r\nImmunizations: up to date\r\nSHx: Freshmen in college. Endorses 3-4 drinks 3 nights / week (on weekends), denies tabacco, endorses trying marijuana. Sexually active with girlfriend x 1 year, uses condoms

In [51]:
# df_pn.head()
# df_pn.info()
# df_pn['case_num'].value_counts()
# df_pn['pn_num'].value_counts()
df_pn[(df_pn['pn_num'] == 41)]
# df_pn[(df_pn['pn_num'] == 16)]

    pn_num  case_num                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                pn_history
40  41      0         17 Y/O M CAME TO THE CLINIC C/O HEART POUNDING. STARTED 2-3 MO AGO. IT STARTED SUDDENLY. DOES NOT RECALL ANY TRIGGERING EVENTS. IT COMES AND GOES, IT HAPPENED 5-6 TIMES SINCE IT STARTED. IT LASTS 3-4 MIN, AFTER THAN  JUST GOES AWAY. HE HAS ALSO EXPERIENCING SOB, PRESSURE ON HER CHEST WHEN HE HAS THIS ATTACK. HE IS A COLLEGE STUDENT, EXPERIENCING SOME STRESS RECENTLY. \r\nDENIES COUGH, CHEST PAIN.\r\nROS NEG EXCEPT AS ABOVE.\r\nPMH NONE. MEDS ATEROL, FOR HIS STUDIES, SHARING W HIS ROOMMATE. NKDA.\r\nPSH/ HOSP/ TRAVEL/ TRAUMA NONE.\r\nFH MOM HAS THYROID PROBLEMS.\r\nSH SEX ACTIVE W GIRLFRIEND, NO STDS, USING CONDOMS. SMOKE NONE. ETOH ONLY WEEKENDS. DRUG ONLY ONCE, 1 MO AGO.

In [55]:
df_train.head(13)
# df_train.info()
# df_train['feature_num'].value_counts()
# df_train['pn_num'].value_counts()
# df_train['case_num'].value_counts()

           id  case_num  pn_num  feature_num                                  annotation                           location
0   00016_000  0         16      0            ['dad with recent heart attcak']            ['696 724']
1   00016_001  0         16      1            ['mom with "thyroid disease']               ['668 693']
2   00016_002  0         16      2            ['chest pressure']                          ['203 217']
3   00016_003  0         16      3            ['intermittent episodes', 'episode']        ['70 91', '176 183']
4   00016_004  0         16      4            ['felt as if he were going to pass out']    ['222 258']
5   00016_005  0         16      5            []                                          []
6   00016_006  0         16      6            ['adderall', 'adderrall', 'adderrall']      ['321 329', '404 413', '652 661']
7   00016_007  0         16      7            []                                          []
8   00016_008  0         16      8            []                                          []
9   00016_009  0         16      9            ['palpitations', 'heart beating/pounding']  ['26 38', '96 118']
10  00016_010  0         16      10           ['3-4 months of']                           ['56 69']
11  00016_011  0         16      11           ['17yo']                                    ['5 9']
12  00016_012  0         16      12           ['M']                                       ['10 11']

In [54]:
df_test.head(10)
# df_test.info()

          id  case_num  pn_num  feature_num
0  00016_000  0         16      0
1  00016_001  0         16      1
2  00016_002  0         16      2
3  00016_003  0         16      3
4  00016_004  0         16      4

In [27]:
df_sub.head()

          id         location
0  00016_000  0 100
1  00016_001  NaN
2  00016_002  200 250;300 400
3  00016_003  NaN
4  00016_004  75 110

In [ ]:
df_train = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/train.csv')
df_test = pd.read_csv(DIR_DATASET + NAME_PROJECT + '/test.csv')

len_train = len(df_train)
df_all = pd.concat([df_train, df_test], axis=0)
target_ = 'congestion'